/* ---Reset browser styles----------------------------------------------------------*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: "Roboto", sans-serif;
}

body._lock {
    overflow: hidden;
}

/* ------------------------------------------------------------------------------- */

input[type=range] {
    height: 10px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #ffffff;
    background: #4AA28C;
    border-radius: 5px;
    border: 0px solid #ffffff;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #ffffff;
    border: 0px solid #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #4AA28C;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #4AA28C;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #ffffff;
    background: #4AA28C;
    border-radius: 5px;
    border: 0px solid #ffffff;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #ffffff;
    border: 0px solid #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #4AA28C;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #4AA28C;
    border: 0px solid #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 0px #ffffff;
}

input[type=range]::-ms-fill-upper {
    background: #4AA28C;
    border: 0px solid #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 0px #ffffff;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #ffffff;
    border: 0px solid #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #4AA28C;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #4AA28C;
}

input[type=range]:focus::-ms-fill-upper {
    background: #4AA28C;
}

/* ------------------------------------------------------------------------------- */

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    position: relative;
}

/* ------------------------------------------------------------------------------ */

.header {
    flex: 1 1 auto;
    background-color: #4AA28C;
    color: #fff;
    padding: 5px 0px;
}

.header__name {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.header__image {
    flex: 0 0 50px;
    width: 50px;
}

.header__image img {
    width: 100%;
}

.header__title {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.header__title h1 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
}

.header__title h1 span {
    font-size: 24px;
}

.header__image_star {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
}

.menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 20%;
    height: 100%;
    overflow: auto;
    background-color: #E6F0F1;
    padding: 120px 30px 15px 30px;
    transition: right 0.3s ease 0s;
    z-index: 1000;
}

/* MOBILE SMALL*/
@media (max-width: 479.98px) {
    .menu__body {
        width: 50%;
    }
}

.menu._active .menu__body {
    right: 0;
}

.menu__item:not(:last-child) {
    margin-bottom: 30px;
}

.menu__link {
    /* text-decoration: none; */
    color: #000;
}

@media (max-width: 479.98px) {
    .menu__link {
        font-size: 24px;
    }
}

.menu__link:visited {
    color: #000;
}

.menu__image {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.menu__image img {
    width: 100%;
}

/* ---Burger menu (Header)---------------------------------------------------------------------------- */

.header__button {
    /* flex: 1 1 33px; */
    padding: 10px 10px 20px 20px;
}

.burger {
    width: 33px;
    height: 20px;
    position: relative;
    background: none;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger span,
.burger span::after,
.burger span::before {
    display: block;
    height: 4px;
    width: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    z-index: 1001;
}

.burger span::before {
    content: '';
    top: -8px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span::after {
    content: '';
    top: 8px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger._active span::before {
    content: '';
    top: 0;
    transform: rotate(45deg);
    background-color: #828282;
    transition: top 300ms,
        transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55),
        background-color 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
}

.burger._active span::after {
    content: '';
    top: 0;
    transform: rotate(-45deg);
    background-color: #828282;
    transition: top 300ms,
        transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55),
        background-color 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
}

.burger._active span {
    background: rgba(255, 255, 255, 0);
}

.header__description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__image_shell {
    width: 70px;
}

.header__text {
    max-width: 800px;
    padding: 0px 60px;
    text-align: center;
    line-height: 1.2;
    color: #000;
}

.header__text span {
    color: #fff;
}

.header__image_dotted-line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90px;
}

.header__image_wave {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70px;
}

/* ---------------------------------------------------------- */

.main {
    flex: 0 0 330px;
}

/* -------------MAP----------------------------------------- */
.map {
    width: 100%;
    height: 330px;
}

.customControl {
    display: flex;
    justify-content: space-between;
    display: none;
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767.98px) {
    .customControl {
        max-width: 90vw;
    }
}

.closeButton {
    flex-basis: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 3px;
    height: 15px;
    cursor: pointer;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTQgLjdsLS43LS43TDcgNi4zLjcgMCAwIC43IDYuMyA3IDAgMTMuM2wuNy43TDcgNy43bDYuMyA2LjMuNy0uN0w3LjcgN3oiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==") 50% no-repeat;
    /* opacity: 0.3; */
}

@media (max-width: 767.98px) {
    .closeButton {
        height: 50px;
        width: 50px;
    }
}

.content {
    padding: 5px;
    /* max-height: 250px; */
    /* max-height: 600px; */
    overflow: auto;
}

@media (max-width: 767.98px) {
    .content {
        max-height: 410px;
    }
}

a,
a:visited {
    color: #04b;
    text-decoration: none !important;
}

.btn-map {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-radius: 15px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-map__plus {
    margin-bottom: 15px;
}

.btn-map img {
    width: 20px;
    height: 20px;
}

/* MOBILE */
/* @media (max-width: 767.98px) {
    .btn-map {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #fff;
    }
} */

/* ---------------------------------------- */

.footer {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4AA28C;
    padding: 5px 0px;
}

.footer__images img {
    width: 100%;
}

.footer__images_beluga-whale-left,
.footer__images_beluga-whale-right {
    padding: 0px 20px;
    width: 100px;
}

/* ----------------------------------------- */

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    position: fixed;
    z-index: 1003;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.8);
}

.modal__content {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #fff;
}

@media (max-width: 479.98px) {
    .modal__content {
        padding: 10px 10px;
    }
}

.modal__row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.modal__collum {
    flex: 0 0 30px;
}

.modal__number {
    flex: 1 1 auto;
    text-align: center;
    font-size: 26px;
}

.modal__btn-close {
    flex: 0 0 30px;
    font-size: 26px;
    background: none;
    cursor: pointer;
}

.grade {}

.grade__foto {
    height: 350px;
    margin-bottom: 10px;
}

@media (max-width: 479.98px) {
    .grade__foto {
        width: 300px;
        height: auto;
    }
}

.grade__foto img {
    height: 100%;
}

@media (max-width: 479.98px) {
    .grade__foto img {
        width: 100%;
        height: auto;
    }
}

.grade__block-range {
    display: flex;
    align-items: center;
}

.grade__range {
    flex: 0 0 80%;
    margin-right: 5px;
    cursor: pointer;
}

.grade__display-block {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grade__rating {
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}

.grade__display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    background-color: #4AA28C;
}

.grade__display p {
    color: #fff;
    text-align: center;
}

.grade__block-btn {
    display: flex;
    justify-content: center;
}

.grade__btn {
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #4AA28C;
    cursor: pointer;
}

/* ------------------------------------- */

.modal-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    position: fixed;
    z-index: 1004;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.4);
}

.modal-message__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 100px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #fff;
    /* -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5); */
}

.modal-message__text {}

.modal-message__btn {
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #4AA28C;
    cursor: pointer;
}

/* --------------------------------------------------------------------------------- */

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #E6F0F1;
    /* background-color: #4AA28C; */
    /* color: #fff; */
}

.statistics__title {
    display: flex;
    /* flex-direction: column; */
}

.statistics__title h1 {
    text-align: center;
    margin-bottom: 20px;
    flex: 1 1 auto;
    font-size: 26px;
    font-weight: bold;
}

.title__block {
    flex: 0 0 100px;
}

.home__btn {
    color: #000;
    cursor: pointer;
}

.statistics__list {}

.statistics__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.statistics__number {
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 479.98px) {
    .statistics__number {
        flex: 0 0 50px;
    }
}

.statistics__number p {
    text-align: center;
}

.rating__text {
    width: 100px;
    text-align: center;
    margin-right: 10px;
}

@media (max-width: 479.98px) {
    .rating__text {
        width: auto;
        margin-right: 5px;
    }
}

.rating__grade {
    width: 50px;
    text-align: center;
}

@media (max-width: 479.98px) {
    .rating__grade {
        width: auto;
    }
}

.statistics__foto {
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 479.98px) {
    .statistics__foto {
        flex: 0 0 60px;
    }
}

.statistics__foto p {
    text-align: center;
}

.statistics__foto img {
    width: 100%;
}

.rating {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rating h2 {
    /* margin-bottom: 10px; */
}

.rating__list {}

.rating__item {
    display: flex;
    margin-bottom: 5px;
}

.statistics__grade {
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* MOBILE SMALL*/
@media (max-width: 479.98px) {
    .statistics__grade {
        flex: 0 0 50px;
    }
}

/* ----------------------------------------------------------------------------------------- */
.about {
    padding: 20px;
    height: 100%;
    position: relative;
    background-color: #E6F0F1;
}

.about__btn-block {}

.about__btn-close {}

.about__title {
    text-align: center;
    margin-bottom: 20px;
    flex: 1 1 auto;
    font-size: 26px;
    font-weight: bold;
}

.about__text p {
    margin-bottom: 20px;
}

.about__images {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.about__images img {
    width: 100%;
}